.board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: calc(100% - 200px);
    height: 100vh;
    margin-left: auto;
}

.boardContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 85vh;
    width: 200px;
    justify-content: center;
    margin: 0px 8px;
}

.boardContainer span {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    
}

.boardContent {
    height: 85%;
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #ffffff;
}