/* ====== BOARD ====== */
.board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: calc(100% - 200px);
    height: 100vh;
    margin-left: auto;
}

.boardContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 85vh;
    width: 200px;
    justify-content: center;
    margin: 0px 8px;
}

.boardContainer span {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.boardContent {
    height: 85%;
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #ffffff;
}

/* ====== BACKLOG ====== */

.backlog {
    display: flex;
    flex-direction: column;
    width: calc(100% - 248px);
    height: 100vh;
    margin-left: auto;
    margin-right: 24px;
}

.backlogHeadline {
    margin-bottom: 60px;
}

.backlogHeadline span {
    color: #1e3190;
}

.backlogContainerHeadline {
    color: #1e3190;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.backlogContainerHeadline span:nth-of-type(1) {
    width: calc((100% / 6) * 2);
}

.backlogContainerHeadline span:nth-of-type(2), .marketing {
    width: calc((100% / 6));
    text-align: center;
}

.backlogContainerHeadline span:nth-of-type(3) {
    width: calc((100% / 6) * 3);
    text-align: end;
}

.backlogContent {
    height: 60px;
    background-color: #766b8f70;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    margin-top: 12px;
}

.assignedTo {
    display: flex;
    width: calc((100% / 6) * 2);
    align-items: center;
}

.categoryBgColor {
    min-width: 8px;
    height: 60px;
    background-color: orange;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-right: 12px;
}

.assignedToProfile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.assignedToProfile span {
    overflow: hidden;
    text-overflow: ellipsis;
}

.marketing {
    overflow: hidden;
}

.marketing {
    text-overflow: ellipsis;
}

.details {
    width: calc((100% / 6) * 3);
    overflow: hidden;
    text-overflow: ellipsis;
}

.details span {
    overflow: hidden;
    text-overflow: ellipsis;
}

.backlogImg {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 12px;
}