@media (max-width: 1200px) {
  .taskForm {
    margin-right: 15px;
    margin-left: 15px;
  }

  .input-taskform, select {
    width: 310px;
  }

  .list-choice-title,
  .list-choice input[type="radio"] + span, .list-choice,
  .taskForm-description textarea,
  .taskForm-assigned, .taskForm-date, .taskForm-urgency, .taskForm-urgency h3,
  .taskForm h3 {
    max-width: 330px;
  }

  .taskForm-right {
    margin-right: 15px;
    margin-left: -50px;
  }

  .taskForm-left {
    margin-left: 15px;
  }
}

@media (max-width: 1000px) {
  .joinMain {
    margin-left: 0;
  }

  .hide {
    display: flex;
  }

  .menu-img {
    position: fixed;
    top: 10px;
    right: 10px;
  }

  .menu-img:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  .resp-menu-header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    background: #766b8f70;
    padding: 8px;
  }

  .resp-menu-header img {
    width: 48px;
    height: 48px;
  }

  .header-navbar {
    display: none;
  }
  .resp-menu-links {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #7662a2;
    padding: 26px;
    z-index: 9999;
  }

  .resp-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .resp-links a {
    margin-top: 16px;
    font-size: 22px;
    padding: 6px;
    color: white;
  }

  .resp-links a:hover {
    color: #790909;
    background: #ffffff52;
    border-radius: 10px;
  }

  .resp-close-img:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  .addtaskContainer, .impressumContainer {
    margin-left: 0;
  }

  .addtaskHeader, .impressumHeader {
    margin-top: 60px;
  }

  .taskForm {
    margin-left: 5px;
    margin-right: 5px;
  }

  .impressumHeader, .impressum {
    margin-left: 12px;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .backlog {
    width: auto !important;
    margin: 70px 12px 0 12px !important;
  }

  .board {
    width: auto !important;
    margin: 70px 0 0 0;
  }

  .openTaskBoardLeftRight {
    width: 100% !important;
    flex-direction: column !important;
    overflow: auto !important;
  }

  .openTaskLeft {
    width: unset !important;
    border-right: none !important;
  }
  
  .openTaskLeftContact {
    border-bottom: 1px dashed black !important;
  }

  .openTaskRight {
    overflow: unset !important;
    border: 1px ;
  }

}

@media (max-width: 800px) {
  .joinSection-top,
  .joinSection-bottom {
    flex-direction: column;
  }

  .openTaskBoardContent {
    width: 100% !important;
  }
}

@media (max-width: 350px) {
  .joinSection-board,
  .joinSection-backlog,
  .joinSection-addtask,
  .joinSection-help {
    width: 240px;
  }

  .join-name h1 {
    font-size: 36px;
  }

  .join-name h2 {
    font-size: 18px;
  }
  
  .openTaskLeftContact ul {
    font-size: 14px;
  }
}

@media (max-width: 300px) {
  .input-taskform, select {
    width: 180px;
  }

  .list-choice-title,
  .list-choice input[type="radio"] + span, .list-choice,
  .taskForm-description textarea,
  .taskForm-assigned, .taskForm-date, .taskForm-urgency, .taskForm-urgency h3, .list-choice-objects,
  .taskForm h3 {
    max-width: 200px;
  }

  #login-form p:last-child {
    margin-left: 15px;
  }
}