body {
    margin: 0;
    background-image: url('../img/background-home.jpg');
}

.font-color {
    color: #391e7af7;
}

.a-standart {
    color: black;
    text-decoration: none;
}

.cursor {
    cursor: pointer;
}

/* ====== NAVBAR ====== */

.header-navbar {
    height: 100vh;
    width: 200px;
    position: absolute;
    background-color: #766b8f70;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    outline: 1px solid rgb(255 255 255 / 38%);
    outline-offset: -10px;
}

.header-navbar-links, .header-footer-links {
    display: flex;
    flex-direction: column;
    width: 130px;
}

.header-footer-links {
    margin-bottom: 16px;
    align-items: center;
}

.header-navbar-links a {
    color: white;
    font-size: 20px;
    margin-bottom: 24px;
    font-weight: bold;
    padding-left: 14px;
    padding-top: 4px;
    padding-bottom: 4px
}

.header-navbar-links a:hover, .header-footer-links a:hover {
    transform: scale(1.1);
    transition: 225ms ease-in-out;
    background-position: 0 100%;
    background: #0000001f;
    border-radius: 15px;
}

.header-navbar-links img {
    margin-right: 8px;
}

.footer-links {
    font-size: 16px;
    color: white;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 4px;
    padding-bottom: 4px
}

/* ====== MAIN PAGE ====== */

.joinMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
}

.nav-logo {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.join-name h2 {
    margin: 2px;
    color: #5a5050;
}

.join-name {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.join-name h1 {
    margin-bottom: 22px;
    font-size: 48px;
    box-shadow: -2px 0px 6px 0px rgb(0 0 0 / 20%);
    padding: 8px;
}

.joinSlog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px;
    margin-top: 24sspx;
}

.joinSections {
    margin-top: 12px;
}

.joinSection-top, .joinSection-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.joinSection-board, .joinSection-backlog, .joinSection-addtask, .joinSection-help {
    height: 210px;
    width: 320px;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 24px;
    font-weight: bold;
    margin-top: 24px;
    margin-right: 54px;
    border-radius: 30px;
    box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
}

.joinSection-board h3, .joinSection-backlog h3, .joinSection-addtask h3, .joinSection-help h3 {
    background: #e7e7e794;
    border-radius: 10px;
    padding: 4px;
}

.joinSection-hover:hover {
    opacity: 0.7;
    transform: scale(1.1);
    transition: 225ms ease-in-out;
    background-position: 0 100%;
}

.join-bg-board {
    background-image: url('../img/section-board.jpg');
}

.join-bg-backlog {
    background-image: url('../img/section-backlog.jpg');
}

.join-bg-addtask {
    background-image: url('../img/section-addtask.jpg');
}

.join-bg-help {
    background-image: url('../img/section-help.jpg');
}

/* ====== ADD TASK ====== */

.addtaskContainer {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}

.addtaskHeader {
    margin-left: 42px;
    margin-top: 32px;
}

.taskForm {
    margin-left: 42px;
    margin-top: 46px;
}

.taskForm {
    background-color: #766b8f4f;
    box-shadow: -2px 0px 6px 0px rgb(0 0 0 / 20%);
    margin-right: 42px;
    border-radius: 15px;
    outline: 2px solid rgb(255 255 255 / 38%);
    outline-offset: -10px;
}

form {
    margin-bottom: 36px;
    margin-top: 12px;
    display: flex;
    justify-content: space-around;
}

.taskForm h3 {
    margin-top: 24px;
    margin-bottom: 8px;
}

.addtaskContainer h2 {
    margin-bottom: 6px;
}

.addtaskContainer span {
    color: #1e3190;
}

.taskForm-left textarea {
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    resize: none;
    outline: none;
    border: solid 1px rgb(210, 210, 212);
}

.taskForm h3 {
    padding-left: 10px;
}

.taskForm input, select {
    font-size: 18px;
    height: 40px;
    width: 400px;
    border-radius: 15px;
    border: none;
    outline: none;
    box-shadow: -2px 0px 6px 0px rgb(0 0 0 / 20%);
    padding-left: 10px;
}

.taskForm input {
    padding-left: 10px;
    padding-right: 10px;
}

select {
    width: 420px;
}

.taskForm-description textarea {
    height: 200px;
    width: 400px;
    border-radius: 15px;
    box-shadow: -2px 0px 6px 0px rgb(0 0 0 / 20%);
    padding-left: 10px;
}

.taskForm-account {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.taskForm-account img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 1px solid white;
    margin-right: 12px;
}

.plus-img {
    height: 20px !important;
    width: 20px !important;
    padding: 6px;
}

.plus-img:hover {
    background: white;
    border: 1px solid #391e7af7;
    cursor: pointer;
}

.taskForm-buttons {
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
}

button {
    background-color: #ffffff00;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    font-size: 18px;
    margin-right: 24px;
}

button:last-child {
    background-color: #391e7af7;
}

.opacity:hover {
    opacity: 0.7;
    border: 1px solid #391e7af7;
    cursor: pointer;
}

button:first-child:hover {
    color: white;
    border: 3px solid rgb(145, 47, 47);
    background: #391e7af7;
    cursor: pointer;
}

button:last-child:hover {
    color: white;
    border: 3px solid rgb(145, 47, 47);
    background: #ffffff00;
    cursor: pointer;
}

/* ====== IMPRESSUM ====== */

.impressumContainer {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}

.impressumContainer span {
    color: #1e3190;
}

.impressumHeader {
    margin-left: 42px;
    margin-top: 32px;
}

.impressumHeader h2 {
    margin-bottom: 6px;
}

.impressum {
    margin-left: 42px;
    margin-top: 24px;
}

.impressum h4 {
    margin-bottom: 0;
}