body {
    margin: 0;
    background-image: url('img/background-home.jpg');
}

.font-color-blue {
    color: #001cb5;
}

.a-standart {
    color: black;
    text-decoration: none;
}

.cursor {
    cursor: pointer;
}

.greyhover:hover {
    color: rgba(148, 148, 148, 0.863);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
}

.nav-logo {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.join-name h2 {
    margin: 2px;
    color: #5a5050;
}

.join-name {
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.join-name h1 {
    margin-bottom: 22px;
    font-size: 48px;
}

.h2-margin {
    margin-top: 24px !important;
}

.sections {
    margin-top: 24px;
}

.section-top, .section-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-board, .section-backlog, .section-addtask, .section-help {
    height: 210px;
    width: 320px;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 24px;
    font-weight: bold;
    margin-top: 24px;
    margin-right: 54px;
    border-radius: 30px;
}

.section-board h3, .section-backlog h3, .section-addtask h3, .section-help h3 {
    background: #e7e7e7d1;
    border-radius: 10px;
    padding: 4px;
}

.section-hover:hover {
    opacity: 0.7;
}

.bg-board {
    background-image: url('img/section-board.jpg');
}

.bg-backlog {
    background-image: url('img/section-backlog.jpg');
}

.bg-addtask {
    background-image: url('img/section-addtask.jpg');
}

.bg-help {
    background-image: url('img/section-help.jpg');
}

<<<<<<< HEAD
.header-navbar {
    height: 100vh;
    width: 200px;
    position: absolute;
    background-color: #001cb5;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-navbar-links, .header-footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-footer-links {
    margin-bottom: 12px;
}

.header-navbar-links a {
    color: white;
    font-size: 20px;
    margin-bottom: 24px;
/*     margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 24px; */
}

.footer-links {
    font-size: 16px;
    color: white;
    margin-bottom: 12px;
}

=======
>>>>>>> 43890d6e9c5f90dd0e03f2053713150a036c182f
/* ====== STYLE - LEON ====== */

.navbar {
    height: 90vh;
    width: 200px;
<<<<<<< HEAD
    
=======
    background-color: ;
>>>>>>> 43890d6e9c5f90dd0e03f2053713150a036c182f
}